<h1>About Us</h1>
<p>Bike Berlin is a piooner in selling of used bicycles with over
5 years of experience</p>
<p>Affordability is our key word whilst not leaving durability of of the context. Customer
satisfaction is our priority thus bikes are thoroughly check by expects before listing</p>
