<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>Have a suggestion, a complain or want to say hi? drop us 
a line and we will reply as soon as possible or give us a call.</p>
<ul>
  <li>Phone: +4911111111</li>
  <li>Email: Support@bikeberlin.com</li>
</ul>
