<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <%= link_to 'Back', contact_path,class:'btn btn-default' %>
  </div><!-- / panel-body -->
</div><!-- / panel -->