/* line 8, /Users/troyvito/firstapp/app/assets/stylesheets/products.scss */
.products-page {
  padding: 0 20px;
}
/* line 10, /Users/troyvito/firstapp/app/assets/stylesheets/products.scss */
.products-page p {
  text-align: center;
}
/* line 13, /Users/troyvito/firstapp/app/assets/stylesheets/products.scss */
.products-page .row {
  margin-bottom: 10px;
}
/* line 16, /Users/troyvito/firstapp/app/assets/stylesheets/products.scss */
.products-page .product-col {
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(51, 51, 51, 0.5);
  margin-right: 10px;
}

/* line 26, /Users/troyvito/firstapp/app/assets/stylesheets/products.scss */
.back-btn {
  position: relative;
  left: 140px;
  bottom: 43px;
}
/* line 1, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #f45750;
  background-color: none;
  text-decoration: none;
}

/* line 36, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 45, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 50, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 54, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 60, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 67, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 77, /Users/troyvito/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
@import url("https://fonts.googleapis.com/css?family=Alegreya");
/* line 10, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h1, h2 {
  color: #f45750;
  text-align: center;
}

/* line 16, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font: 2em "Alegreya", serif;
}

/* line 20, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h2 {
  font: 1.5em "Alegreya", serif;
}

/* line 24, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption p {
  color: #fff;
}

/* line 28, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.about-page p {
  text-align: center;
}

/* line 33, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
* {
  margin: 0;
}

/* line 37, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 41, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

/* line 46, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 51, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.footer, .page-wrap:after {
  height: 60px;
}

/* line 55, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.footer {
  background-color: #333;
  color: #fff;
}

/* line 64, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom {
  background-color: #333;
  border-radius: 0;
  text-transform: uppercase;
  height: 70px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

/* line 72, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

/* line 76, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > .active > a {
  color: #fff;
  background-color: #f45750;
}

/* line 81, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
  text-decoration: none;
  background-color: transparent;
  color: #f45750;
}

/* line 91, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav {
  margin-right: 15px;
}

/* line 96, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-toggle {
  background-color: #fff;
  border: 1px solid #f45750;
}

/* line 101, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .icon-bar {
  background-color: #f45750;
}

/* line 105, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 111, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-inner > .item > img {
  margin: auto;
  width: 1400px;
}

/* line 116, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

