@import url("https://fonts.googleapis.com/css?family=Alegreya");
/* line 9, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h1, h2 {
  color: #333;
  text-align: center;
}

/* line 15, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font: 2em "Alegreya", serif;
}

/* line 19, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
h2 {
  font: 1.5em "Alegreya", serif;
}

/* line 26, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
* {
  margin: 0;
}

/* line 30, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
html, body {
  height: 100%;
}

/* line 33, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

/* line 38, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 43, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.footer, .page-wrap:after {
  height: 60px;
}

/* line 47, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.footer {
  background-color: #333;
  color: #fff;
}

/* line 56, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom {
  background-color: #333;
  border-radius: 0;
  text-transform: uppercase;
  height: 70px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

/* line 64, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

/* line 68, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > .active > a {
  color: #fff;
  background-color: #f45750;
}

/* line 73, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
  text-decoration: none;
  background-color: transparent;
  color: #f45750;
}

/* line 83, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-nav {
  margin-right: 15px;
}

/* line 88, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .navbar-toggle {
  background-color: #fff;
  border: 1px solid #f45750;
}

/* line 93, /Users/troyvito/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-custom .icon-bar {
  background-color: #f45750;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

