// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// product image style and spacing
.products-page {
    padding: 0 20px;
  p{
    text-align: center;
  }
  .row {
    margin-bottom: 10px;
  }
  .product-col {
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(51, 51, 51, 0.5);
    margin-right: 10px;
  }
}

// Product new edit styles

//new product page style
.back-btn {
  position: relative;
  left: 140px;
  bottom: 43px;
}
//price column on product show page style

.price-col {
  padding-top: 360px;
  background-color:#f2f8fd;
}

.product-color {
  margin: 10px 0;
}