// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack:'Open Sans', sans-serif;
$h-color: #f45750;
$p-color: #fff;

h1, h2 {
  color: $h-color;
  text-align: center;

}

body {
  line-height: 1.5;
  font-family: $font-stack;
  color: #444;
}

h1 {
  font: 2em $font-stack;
  
 
}

h2 {
  font: 1.5em $font-stack;
}

.carousel-caption p {
  color:  $p-color;
}

.about-page p {
  text-align: center;
}

// sticky footer style starts here
// ===============================================
*{
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after{
  height: 60px;
}

.footer {
  background-color: #333;
  color: #fff;
  
}
.carousel-inner {
  margin-top: 60px;
}
// sticky footer ends here
// ===============================================



// carousel styles
// ===============================================

.carousel-inner>.item>img {
  margin: auto;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px ;
}

//devise views page-registration - sign in styles
// ==============================================

.form-signin {
  max-width: 330px;
  margin: auto;
  padding: 15px;
}

.signup-btn {
  background-color: #f45750;
  color: #fff;
}

.signup-login-links {
  position: relative;
  left: 48%;
}

.btn-color-all {
  background-color:#f45750;
  color: #fff;
}

.form-signin input[type="email"],
.form-signin input[type="password"]  {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  font-size: 16px;
  position: relative;
  height: auto;

}

.glyphicon-usd {
  font-size: 0.9em;
} 

// stripe btn
// ===============================================

.stripe {
  padding-left: 170px;
}

.edit_links {
  display: none;
}