// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack:'Open Sans', sans-serif;
// $h-color: #f45750;
$p-color: #fff;

h1, h2 {
  color:  #413c3c;
  text-align: center;
  font-family:$font-stack;
}

h2 {
  font-size: 1.5em;
}

body {
  line-height: 1.5;
  font-family: $font-stack;
  color: #444;
}


.carousel-caption p {
  color:  $p-color;
}


// sticky footer style starts here
// ===============================================
*{
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -80px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after{
  height: 80px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  
}
// sticky footer ends here
// ===============================================


// carousel styles

.carousel {
  width: 100%;
  padding: 80px;

  .carousel-inner>.item>img {
    margin: auto;
    width: 80%;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px ;
    h1 {
      color: #f45750
    }
  }
 
}


.about-page {
  text-align: center;
  margin-top: 80px;
}

.contact-us {
  padding: 80px;
  h1 ,p {
    margin-bottom: 20px;
  }

  form {
    width: 70%;
    margin: auto;
    margin-top: 40px;
  }
}