<% provide(:title, 'Products') %>

 <%if notice %>
    <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end%>
    <%if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>

<h1>Products</h1>


  <div class="containter-fluid products-page">
    <div class="row">
      <%= render @products %>
    </div><!--/row-->
    <%= link_to 'New Product', new_product_path %>
  </div><!--container end-->



